/*
  Pragmatic JavaScript
  Chapter 2
  Programming Assignment

  Author: Dagmawi Megra
  Date: 04/19/2025
  Filename: styles.css
*/

/* Add your CSS styles here */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-container{
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 3em;
  background-color: rgb(147, 69, 9);
}
.form-container form > label{
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-container form > input{
  margin-bottom: 2em;
  padding: .7em;
  font-size: .9rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-container form .btn{
  background-color: rgb(71, 70, 68);
  color: white;
  cursor: pointer;
}
.form-container form .btn:hover{
  background-color: rgb(115, 114, 114);
}

.form-container p{
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}